// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.intro-page {
  .govuk-header {
    border-bottom-color: govuk-colour("black");
  }
  .govuk-header__container {
    border-bottom: none;
  }
}
.intro-panel {
  background-color: govuk-colour("blue");
  * {
    color: govuk-colour("white");
  }
}

.autocomplete__option {
  @extend .govuk-body;
  margin: 0;
}

.img-container {
  border-top: 1px solid lightgrey;
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-responsive-padding(8, "top");
  img {
    width: 100%;
    height: auto;
    border: 3px solid grey;
    @include govuk-responsive-margin(3, "top");

  }

  .index-link {
    float: left;
    font-weight: bold;
    padding-bottom: 1em;
    //margin-left: -9rem;
  }

}
