
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {% set currentPage = 'region' %}
    {% include "apply/_side-navigation.html" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Region (1,000 units)</h1>

    <div class="govuk-tabs" >
      <h2 class="govuk-tabs__title">
        Region
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#">
            Total cost
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#">
            Funding
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#">
            Timeline
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel">
        <form action="" method="get">


          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
