
{% extends "apply/layout.html" %}

{% block content %}

{% set region = query.region %}
{% set homesInRegion = data['homes'][region] %}
{% set totalHomes = homesInRegion | sumOfValues  %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}
    <h1 class="govuk-heading-l">{{ region }} ({{ totalHomes }} homes)</h1>

    <form action="/apply/regions" method="post">

      <input type="hidden" name="currentTab" value="funding">
      <input type="hidden" name="region" value="{{ query.region }}">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
