
{% extends "apply/layout.html" %}

{% block content %}

{% set region = query.region %}
{% set homesInRegion = data['homes'][region] %}
{% set totalHomes = homesInRegion | sumOfValues  %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}
    <h1 class="govuk-heading-l">Funding</h1>
    <h2 class="govuk-heading-m">{{ region }} ({{ totalHomes }} homes)</h2>

    <form action="/apply/tasks" method="post">
      <div class="calculate-total">
        {{ govukCheckboxes({
          idPrefix: "capital-funding",
          name: "capital-funding",
          fieldset: {
            legend: {
              text: "Capital funding",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Debt funding supportable from net rental income",
              text: "Debt funding supportable from net rental income",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-debt-funding",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Debt funding supportable from net rental income]"
                })
              }
            },
            {
              value: "Other debt funding",
              text: "Other debt funding",
              conditional: {
                html:
                  govukInput({
                    label: {
                      text: "Details"
                    },
                    id: "funding-other-debt-funding-details",
                    classes: "govuk-input--width-20",
                    name: "funding["+region+"][Other debt funding details]"
                  }) +
                  govukInput({
                    label: {
                      text: "How much?"
                    },
                    prefix: {
                      text: "£"
                    },
                    id: "funding-other-debt-funding",
                    classes: "govuk-input--width-5",
                    name: "funding["+region+"][Other debt funding]"
                  })
              }
            },
            {
              value: "Cross subsidy from open market sales (OMS)",
              text: "Cross subsidy from open market sales (OMS)",
              hint: {
                text: "Will any profit from OMS be used to fund the new supply"
              },
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-oms-cross-subsidy",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Cross subsidy from open market sales]"
                })
              }
            },
            {
              value: "Revenue from grant funded first tranche sales",
              text: "Revenue from grant funded first tranche sales",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-grant-funded-first-tranche-sales",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Revenue from grant funded first tranche sales]"
                })
              }
            },
            {
              value: "Other cross subsidy",
              text: "Other cross subsidy",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-other-cross-subsidy",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Other cross subsidy]"
                })
              }
            },
            {
              value: "Other internal subsidy",
              text: "Other internal subsidy",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-other-internal-subsidy",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Other internal subsidy]"
                })
              }
            },
            {
              value: "New Homes England grant",
              text: "New Homes England grant",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-new-homes-england-grant",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][New Homes England grant]"
                })
              }
            },
            {
              value: "Recycled Capital Grant Fund (RCGF)",
              text: "Recycled Capital Grant Fund (RCGF)",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-recycled-rcgf",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Recycled Capital Grant Fund (RCGF)]"
                })
              }
            },
            {
              value: "Other public subsidy",
              text: "Other public subsidy",
              conditional: {
                html: govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-other-public-subsidy",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Other public subsidy]"
                })
              }
            },
            {
              value: "Other sources of funding",
              text: "Other sources of funding",
              conditional: {
                html: govukInput({
                  label: {
                    text: "Details"
                  },
                  id: "funding-other-funding-sources-details",
                  classes: "govuk-input--width-20",
                  name: "funding["+region+"][Other sources of funding details]"
                }) +
                govukInput({
                  label: {
                    text: "How much?"
                  },
                  prefix: {
                    text: "£"
                  },
                  id: "funding-other-funding-sources",
                  classes: "govuk-input--width-5",
                  name: "funding["+region+"][Other sources of funding]"
                })
              }
            }
          ]
        }) }}
      </div>

      <input type="hidden" name="tasks[funding-{{ region | parameterize }}]" value="completed">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
    <div class="live-total">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Total capital funding</h3>
      <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-7">
        £<span>0</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
