
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}

    <form action="/apply/tasks" method="get">
      {{ govukCheckboxes({
        idPrefix: "homes-locations",
        name: "homes-locations",
        classes: "govuk-!-margin-bottom-5",
        fieldset: {
          legend: {
            text: "Where will the homes be built?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "South East",
            text: "South East"
          },
          {
            value: "North East",
            text: "North East"
          },
          {
            value: "North West",
            text: "North West"
          },
          {
            value: "East of England",
            text: "East of England"
          },
          {
            value: "East Midlands",
            text: "East Midlands"
          },
          {
            value: "West Midlands",
            text: "West Midlands"
          },
          {
            value: "South West",
            text: "South West"
          },
          {
            value: "Yorkshire and the Humber",
            text: "Yorkshire and the Humber"
          }
        ]
      }) }}
      {{ govukCheckboxes({
          idPrefix: "tenures",
          name: "tenures",
          fieldset: {
            legend: {
              text: "What type of tenure will you offer?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Social rent",
              text: "Social rent"
            },
            {
              value: "Affordable rent",
              text: "Affordable rent"
            },
            {
              value: "Shared ownership",
              text: "Shared ownership"
            },
            {
              value: "Rent to buy",
              text: "Rent to buy"
            },
            {
              value: "Supported housing for rent",
              text: "Supported housing for rent",
              conditional: {
                html:
                govukCheckboxes({
                  id: "type",
                  name: "type",
                  fieldset: {
                    legend: {
                      text: "Select the types of supported housing to help us understand the grant you need"
                    }
                  },
                  items: [
                    {
                      value: "Physical disability",
                      text: "Physical disability"
                    },
                    {
                      value: "Retirement",
                      text: "Retirement"
                    },
                    {
                      value: "Mental health",
                      text: "Mental health"
                    }
                  ]
                })
              }
            }
          ]
        }) }}
      <input type="hidden" name="tasks[howManyHomes]" value="not_started">
      <input type="hidden" name="tasks[homesLocation]" value="completed">
      {{ govukButton({
        text: "Save and continue",
        type: "submit",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
