
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for affordable housing funding</h1>

    <p class="govuk-body">This service replaces the previous affordable housing funding process.</p>
    <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check you’re eligible for funding</li>
      <li>apply for funding</li>
    </ul>

    {{ govukButton({
      text: "Start now",
      href: "/apply/sign-in",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">To apply for funding you’ll need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be able to deliver at least 4,000 homes</li>
      <li>confirm your application has been approved by your board</li>
    </ul>

  </div>
</div>

{% endblock %}
