
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}

    <form action="" method="post">

      <form action="/apply/tasks" method="get">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "partnership",
          name: "partnership",
          fieldset: {
            legend: {
              text: "Are you applying for affordable housing grant funding with another organisation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: '<label for="partner-name" class="govuk-label">Who with?</label><div id="partner-name-container"></div>'
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        <input type="hidden" name="tasks[partnership]" value="completed">
        {{ govukButton({
          text: "Save and continue",
          type: "submit",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
        }) }}
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script>
    accessibleAutocomplete({
      element: document.querySelector('#partner-name-container'),
      id: 'partner-name',
      displayMenu: 'overlay',
      source: [
        'EMH group',
        'Great Places',
        'Home Group',
        'Hyde',
        'L&Q',
        'Accord',
        'Places for People',
        'Sovereign & LiveWest',
        'Subtotal',
        'Platform',
        'Guinness & Stonewater',
        'Optivo',
        'Orbit',
        'Southern',
        'Thirteen',
        'Vivid',
        'Subtotal',
        'Bromford',
        'Curo & Swan',
        'LMH/Torus',
        'Together',
        'Yorkshire',
        'Your',
        'Walsall',
        'Longhurst & NCHA'
      ]
    })
  </script>
{% endblock %}
