
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for affordable housing funding</h1>

    <p class="govuk-body">Use this service to apply for funding of your building scheme in the financial years 2021 to 2026.</p>
    <p class="govuk-body">You can apply for funding up to 2028 if you’re an existing Strategic Partner and want to build more than 4000 homes.</p>
    <p class="govuk-body">Homes funded by this scheme need to be delivered by the end of March 2028.</p>
    <p class="govuk-body">If you’re building more than 4000 homes, the deadline may be moved to 2029.</p>
    <h2 class="govuk-heading-m">Who can use this service</h2>

    <p class="govuk-body">You can use this service if:<p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you're already a Strategic Partner with Homes England</li>
        <li>you want to become a Strategic Partner with Homes England</li>
      </ul>

    <p class="govuk-body">Applying for funding of your scheme through this service means you intend to enter into a long term arrangement with Homes England to deliver homes.</p>
    <p class="govuk-body">Check our <a href="https://www.gov.uk/guidance/capital-funding-guide">Capital Funding Guide</a> for help on information you’ll need to provide in your application. </p>
    <p class="govuk-body">You'll be able to save and return to your application anytime before the application deadline is passed.</p>

    <h3 class="govuk-heading-s">If you don't want a long term partnership with Homes England</h3>

    <p class="govuk-body">If you want funding from Homes England for a scheme but don’t want a long term arrangement, you should apply using Continuous Market Engagement.</p>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">To apply for funding you’ll need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>agree to deliver a minimum number of homes</li>
      <li>certify that your application has been approved by your organisation’s board of directors</li>
    </ul>

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">If your funding application is approved, before you can receive an affordable housing grant, you’ll need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be approved as an investment partner of Homes England</li>
      <li>become a Registered Provider with the Register of Social Housing where your funding is for Social Housing</li>
      <li>enter into a new supply agreement with Homes England</li>
    </ul>

    {{ govukButton({
      text: "Start now",
      href: "/apply/sign-in",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
