
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit a proposal for affordable housing funding</h1>

    <p class="govuk-body">Use this service to apply for funding of your building scheme in the financial years 2021 to 2026, and sometimes to 2028.</p>
    <p class="govuk-body">All homes funded by this scheme need to be delivered by the end of March 2028, and sometimes March 2029.</p>
    <p class="govuk-body">Check our <a href="https://www.gov.uk/guidance/capital-funding-guide">Capital Funding Guide</a> for help on information you’ll need to provide in your application. </p>


    {{ govukButton({
      text: "Start now",
      href: "/apply/sign-in",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">To apply for funding you’ll need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be an investment partner with Homes England or applying jointly with an investment partner</li>
      <li>agree to deliver a minimum number of homes</li>
      <li>certify that your application has been approved by your organisation’s board of directors</li>
    </ul>

  </div>
</div>

{% endblock %}
