
{% extends "apply/layout.html" %}
{% from "apply/_macros.html" import taskStatus %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for affordable housing funding
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
    {% set completed = data['tasks'] | filterStatus('completed')  %}
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ completed | length }} of 6 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Check before you start
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#Minimum homes">
                Minimum number of homes you need to build
              </a>
            </span>
            {{ taskStatus('checkEligibility', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Prepare your application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/partnership">
                Applying for funding in a joint strategic partnership
              </a>
            </span>
            {{ taskStatus('partnership', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/delivery-partners">
                Working with delivery partners
              </a>
            </span>
            {{ taskStatus('deliveryPartners', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/homes-location">
                Where you’ll build and the tenures you’ll offer
              </a>
            </span>
            {{ taskStatus('homesLocation', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if 'howManyHomes' in data['tasks'] %}<a href="/apply/how-many-homes">{% endif %}
              How many grant funded homes you’ll build
              {% if 'howManyHomes' in data['tasks'] %}</a>{% endif %}
            </span>
            {{ taskStatus('howManyHomes', data['tasks']) }}
          </li>
          {% if data['tasks']['homesLocation'] == 'completed' %}
            {% for region in data['homes-locations'] %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  {% if 'totalCost-' + region | parameterize in data['tasks'] %}<a href="/apply/total-cost?region={{ region }}">{% endif %}
                    {{ region }} - Define costs
                  {% if 'totalCost' + region | parameterize in data['tasks'] %}</a>{% endif %}
                </span>
                {{ taskStatus('totalCost-' + region | parameterize, data['tasks']) }}
              </li>
            {% endfor %}
          {% endif %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/funding">
                Define funding breakdown
              </a>
            </span>
            {{ taskStatus('funding', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if 'programmeTimeline' in data['tasks'] %}<a href="/apply/timeline">{% endif %}
                Programme timeline
              {% if 'programmeTimeline' in data['tasks'] %}</a>{% endif %}
            </span>
            {{ taskStatus('programmeTimeline', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/business-plan-effect">
                Business plan effect of strategic partnership
              </a>
            </span>
            {{ taskStatus('businessPlanEffect', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/supporting-evidence">
                Provide supporting evidence
              </a>
            </span>
            {{ taskStatus('supportingEvidence', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Submit your application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit application
            </span>
            {{ taskStatus('submitApplication', data['tasks']) }}
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
