
{% extends "apply/layout.html" %}
{% from "apply/_macros.html" import taskStatus %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for affordable housing funding
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
    {% set completed = data['tasks'] | filterStatus('completed')  %}
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ completed | length }} of 6 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Check your commitments for this funding
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#Minimum homes">
                Minimum number of homes you need to build
              </a>
            </span>
            {{ taskStatus('checkEligibility', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Working with another partner
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/partnership">
                Applying for funding with another partner
              </a>
            </span>
            {{ taskStatus('partnership', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Regions, tenures and number of homes
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/homes-location">
                Where the homes will be built
              </a>
            </span>
            {{ taskStatus('homesLocation', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if 'tenures' in data['tasks'] %}<a href="/apply/what-tenures">{% endif %}
              Which tenures you’ll be building
              {% if 'tenures' in data['tasks'] %}</a>{% endif %}
            </span>
            {{ taskStatus('tenures', data['tasks']) }}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if 'howManyHomes' in data['tasks'] %}<a href="/apply/how-many-homes">{% endif %}
              How many homes you will build
              {% if 'howManyHomes' in data['tasks'] %}</a>{% endif %}
            </span>
            {{ taskStatus('howManyHomes', data['tasks']) }}
          </li>
          {% if data['tasks']['homesLocation'] == 'completed' %}
            {% for region in data['homes-locations'] %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  {% if 'totalCost-' + region | parameterize in data['tasks'] %}<a href="/apply/total-cost?region={{ region }}">{% endif %}
                    {{ region }} - Define costs
                  {% if 'totalCost' + region | parameterize in data['tasks'] %}</a>{% endif %}
                </span>
                {{ taskStatus('totalCost-' + region | parameterize, data['tasks']) }}
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  {% if 'funding-' + region | parameterize in data['tasks'] %}<a href="/apply/funding?region={{ region }}">{% endif %}
                    {{ region }} - Define funding
                  {% if 'funding-' + region | parameterize in data['tasks'] %}</a>{% endif %}
                </span>
                {{ taskStatus('funding-' + region | parameterize, data['tasks']) }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Delivery forecast
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/timeline">
                Programme timeline
              </a>
            </span>
            {{ taskStatus('programmeTimeline', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Supporting evidence
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/supporting-evidence">
                Provide supporting evidence
              </a>
            </span>
            {{ taskStatus('supportingEvidence', data['tasks']) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span> Apply
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit application
            </span>
            {{ taskStatus('submitApplication', data['tasks']) }}
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
