
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for affordable housing funding
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 6 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Check before you start
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#check-eligibility">
                Check eligibility
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Partnership
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/partnership">
                Who you’re delivering with
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Regions and tenures
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/apply/homes-location">
                Where the homes will be located
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Which tenures you’ll be building
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Costs, funding and timeline
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Apply
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit application
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
