
{% extends "apply/layout.html" %}

{% block content %}

{% set fundingYears = ['2021', '2022', '2023', '2023', '2024', '2025'] %}
{% set quarters = ['Q1', 'Q2', 'Q3', 'Q4'] %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}

    <h1 class="govuk-heading-l">Delivery timeline</h1>

    <form action="/apply/tasks" method="post">
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {% for year in fundingYears %}
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ year }}">
                In {{ year }}
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-{{ year }}" class="govuk-accordion__section-content"
               aria-labelledby="accordion-default-heading-{{ year }}">

            {% for quarter in quarters %}
              <p class='govuk-body'>{{ quarter }}</p>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  {{ govukInput({
                    label: {
                      text: "Homes started"
                    },
                    id: "timeline-"+year+"-"+quarter+"-homes-started",
                    name: "timeline["+year+"]["+quarter+"][Homes started]"
                  }) }}
                </div>
                <div class="govuk-grid-column-one-half">
                  {{ govukInput({
                    label: {
                      text: "Homes completed"
                    },
                    id: "timeline-"+year+"-"+quarter+"-homes-completed",
                    name: "timeline["+year+"]["+quarter+"][Homes completed]"
                  }) }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>

      <input type="hidden" name="tasks[programmeTimeline]" value="completed">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
