
{% extends "apply/layout.html" %}

{% block content %}

{% set region = query.region %}
{% set homesInRegion = data['homes'][region] %}
{% set totalHomes = homesInRegion | sumOfValues  %}

{{ govukBackLink({
  text: "Back",
  href: "/apply/tasks"
}) }}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Total cost</h1>
    <h2 class="govuk-heading-m">{{ region }} ({{ totalHomes }} homes)</h2>

    <form action="/apply/tasks" method="post">
      <h2 class="govuk-heading-m">Weighted average home cost</h2>

      <div class="govuk-grid-row calculate-total">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Land"
            },
            prefix: {
              text: "£"
            },
            id: "land",
            name: "costs["+region+"][land]"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Build"
            },
            prefix: {
              text: "£"
            },
            id: "build",
            name: "costs["+region+"][build]"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Fees"
            },
            prefix: {
              text: "£"
            },
            id: "fees",
            name: "costs["+region+"][fees]"
          }) }}
        </div>
      </div>

      {{ govukInput({
        label: {
          text: "Weighted average Gross Development Value (GDV) or open market value",
          classes: "govuk-label--m"
        },
        hint: {
          text: "The cost of building the home should be lower than the open market value"
        },
        prefix: {
          text: "£"
        },
        id: "gdv",
        name: "costs["+region+"][gdv]",
        classes: "govuk-!-width-one-third"
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-7">Amount of grant you need per home</h3>
      {% for type, amount in homesInRegion | removeEmpty %}
        {{ govukInput({
          label: {
            text: type + " (" + amount + ")",
            classes: "govuk-label--s"
          },
          hint: {
            text: ""
          },
          prefix: {
            text: "£"
          },
          id: "average-grant-per-home-"+ type | parameterize,
          name: "costs["+region+"][average-grant-per-home]["+type+"]",
          classes: "govuk-!-width-one-third"
        }) }}
      {% endfor %}

      <h3 class="govuk-heading-m govuk-!-margin-top-7">Home starts on site to Mar 2027</h3>
      {% for type, amount in homesInRegion | removeEmpty %}
        {{ govukInput({
          label: {
            text: type + ": Grant funded",
            classes: "govuk-label--s"
          },
          hint: {
            text: ""
          },
          id: "home-starts-"+ type | parameterize,
          name: "costs["+region+"][home-starts]["+type+"]",
          classes: "govuk-!-width-one-third"
        }) }}
      {% endfor %}

      <input type="hidden" name="tasks[totalCost-{{ region | parameterize }}]" value="completed">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
    <div class="live-total">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Total cost of the home</h3>
      <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-7">
        £<span>0</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
