
{% extends "apply/layout.html" %}

{% block content %}

{% set region = query.region %}
{% set homesInRegion = data['homes'][region] %}
{% set totalHomes = homesInRegion | sumOfValues  %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}

    <h1 class="govuk-heading-l">{{ region }} ({{ totalHomes }} homes)</h1>

    <form action="/apply/regions" method="post">
      <h2 class="govuk-heading-m">Weighted average home cost</h2>

      <div class="govuk-grid-row calculate-total">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Land"
            },
            prefix: {
              text: "£"
            },
            id: "land",
            name: "costs["+region+"][land]"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Build"
            },
            prefix: {
              text: "£"
            },
            id: "build",
            name: "costs["+region+"][build]"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Fees"
            },
            prefix: {
              text: "£"
            },
            id: "fees",
            name: "costs["+region+"][fees]"
          }) }}
        </div>
      </div>

      <div class="cost-total govuk-visually-hidden">
        <h3 class="govuk-heading-s">Total cost of the home</h3>
        <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          £ <span>0</span>
        </div>
      </div>

      {{ govukInput({
        label: {
          text: "Weighted average Gross Development Value (GDV) or open market value",
          classes: "govuk-label--m"
        },
        hint: {
          text: "The cost of building the home should be lower than the open market value"
        },
        prefix: {
          text: "£"
        },
        id: "gdv",
        name: "costs["+region+"][gdv]",
        classes: "govuk-!-width-one-third"
      }) }}

      {{ govukInput({
        label: {
          text: "Amount of grant you need per home",
          classes: "govuk-label--m"
        },
        hint: {
          text: ""
        },
        prefix: {
          text: "£"
        },
        id: "average-grant-per-home",
        name: "costs["+region+"][average-grant-per-home]",
        classes: "govuk-!-width-one-third"
      }) }}

      <input type="hidden" name="currentTab" value="total-cost">
      <input type="hidden" name="region" value="{{ query.region }}">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
