
{% extends "apply/layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/apply/tasks"
    }) }}

    <h1 class="govuk-heading-l">What tenures?</h1>
    <p class="govuk-body">Select amount of tenures and specify the amount of homes</p>

    <form action="/apply/tasks" method="get" novalidate>
      {% for region in data['homes-locations'] %}
        {{ govukCheckboxes({
          idPrefix: "tenures-" + region | parameterize,
          name: "tenures[" + region + "]",
          fieldset: {
            legend: {
              text: region,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Social rent",
              text: "Social rent",
              conditional: {
                html: govukInput({
                  id: "social-rent-"+ region | parameterize,
                  name: "homes[" + region + "][Social rent]",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "How many homes?"
                  }
                })
              }
            },
            {
              value: "Affordable rent",
              text: "Affordable rent",
              conditional: {
                html: govukInput({
                  id: "affordable-rent-"+ region | parameterize,
                  name: "homes[" + region + "][Affordable rent]",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "How many homes?"
                  }
                })
              }
            },
            {
              value: "Shared ownership",
              text: "Shared ownership",
              conditional: {
                html: govukInput({
                  id: "shared-ownership-"+ region | parameterize,
                  name: "homes[" + region + "][Shared ownership]",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "How many homes?"
                  }
                })
              }
            },
            {
              value: "Rent to buy",
              text: "Rent to buy",
              conditional: {
                html: govukInput({
                  id: "rent-to-buy-"+ region | parameterize,
                  name: "homes[" + region + "][Rent to buy]",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "How many homes?"
                  }
                })
              }
            },
            {
              value: "Supported housing",
              text: "Supported housing",
              conditional: {
                html: govukInput({
                  id: "supported-housing-"+ region | parameterize,
                  name: "homes[" + region + "][Supported housing]",
                  spellcheck: false,
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: "How many homes?"
                  }
                })
              }
            }
          ]
        }) }}
        <input type="hidden" name="tasks[funding-{{ region | parameterize }}]" value="{{ data.tasks['funding-'+ region | parameterize] | d('not_started') }}">
        <input type="hidden" name="tasks[totalCost-{{ region | parameterize }}]" value="{{ data.tasks['totalCost-'+ region | parameterize] | d('not_started') }}">
      {% endfor %}
      <input type="hidden" name="tasks[tenures]" value="completed">
      {{ govukButton({
        text: "Save and continue",
        type: "submit",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
