
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for affordable housing funding
{% endblock %}

{% set bodyClasses = "intro-page" %}
{% set currentPage = 'about' %}

{% block intro %}
<div class="intro-panel">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-9">
        <h1 class="govuk-heading-xl">
          Apply for affordable housing funding
        </h1>
        <p class="govuk-body">Homes England have many funding routes for partners to build new homes in England, and one of those is the Affordable Housing Grant. This fund is designed to increase the affordable housing stock in England (outside of the Greater London area). By using this funding route, Homes England is aiming to incentivise small to medium size developers (though large ones can still apply), and partnerships that increasingly use modern methods of construction for better homes built quicker.</p>
        <p class="govuk-body">The grant is allocated to these organisations once they go through a proposal and selection process, and become “Strategic Partners”, valid for 7-8 years with a fixed amount awarded based on the application.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Resources</h2>
    <p class="govuk-body">Useful links for the project</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://docs.google.com/presentation/d/1aBSEbTGE0ENfFrkjTvVvjDgXn-v95bxVfmc3w-5e4-A/edit#slide=id.ga6f0b16642_1_16" class="govuk-link">Living deck</a></li>
      <li><a href="https://www.figma.com/file/cbO05pU1xWePKWzTRbINMT/HE-%E2%80%93-Affordable-Housing-Alpha?node-id=0%3A1" class="govuk-link">Figma prototypes</a></li>
    </ul>
  </div>
</div>

{% endblock %}
