
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for affordable housing funding
{% endblock %}

{% set bodyClasses = "intro-page" %}
{% set currentPage = 'about' %}

{% block intro %}
<div class="intro-panel">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-9">
        <h1 class="govuk-heading-xl">
          Apply for affordable housing funding
        </h1>
        <p class="govuk-body">What is the project</p>
        <p class="govuk-body">Where is it going</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Resources</h2>
    <p class="govuk-body">Useful links for the project</p>
  </div>
</div>

{% endblock %}
