{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.html" %}

{% block pageTitle %}
  Prototypes - Apply for affordable housing funding
{% endblock %}
{% set currentPage = 'prototypes' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>

      <div class="moj-timeline">
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Apply for affordable housing funding</h2>
          </div>
          <p class="moj-timeline__date">
            <time datetime="2020-11-09T00:00:00.000Z">9 November 2020</time>
          </p>
          <div class="moj-timeline__description">
            <p>Journey for strategic partners to apply for the affordable housing fund</p>
            <a class="govuk-button" href="/apply">View</a>

            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Main changes
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Sprint</th>
                      <th scope="col" class="govuk-table__header">Change</th>
                      <th scope="col" class="govuk-table__header">Why we made it</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">3</td>
                      <td class="govuk-table__cell">Reduce task list grouping</td>
                      <td class="govuk-table__cell">To simplify choices and ease cognitive load</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">3</td>
                      <td class="govuk-table__cell">Capital funding page is now on a programme level</td>
                      <td class="govuk-table__cell">We don't need this data split by region any more</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">3</td>
                      <td class="govuk-table__cell">Split partnership question in two</td>
                      <td class="govuk-table__cell">There's a legal difference between a joint strategic partnership and a delivery partner</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">3</td>
                      <td class="govuk-table__cell">Change delivery forecast to a grid of inputs</td>
                      <td class="govuk-table__cell">Users’ expectation is that this kind of data is presented in a "spreadsheet" style with live totals</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">Moved region and tenure selection to the same page</td>
                      <td class="govuk-table__cell">We don't need to know tenure types by region. Users building in multiple regions found this cumbersome as they were selecting the same tenure types over and over</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">Added a grid view for inputting number of homes</td>
                      <td class="govuk-table__cell">Users’ expectation is that this kind of data is presented in a "spreadsheet" style with live totals</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">Added a basic "step-by-step" as the first page</td>
                      <td class="govuk-table__cell">To test if presenting the guidance in this way would help users</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">1</td>
                      <td class="govuk-table__cell">Added live totals to the costs and funding pages</td>
                      <td class="govuk-table__cell">Users expect to see the totals so they can match it up with what they have prepared in advance.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
